xmlmanager/src/main/resources/data/input/dtd_patricia.v1/01-AtivacaooDACC/ListaAtivacaoDACC_Out.dtd

<!ELEMENT SiebelMessage (ListaRetorno?) >
<!ATTLIST SiebelMessage MessageId		CDATA #IMPLIED>
<!ATTLIST SiebelMessage MessageType		CDATA #IMPLIED>
<!ATTLIST SiebelMessage IntObjectName	CDATA #IMPLIED>
<!ELEMENT ListaRetorno (Retorno+) >
<!ELEMENT Retorno (Codigo?, Mensagem?, ListaDados?)>
<!ELEMENT Codigo (#PCDATA) >
<!ELEMENT Mensagem (#PCDATA) >
<!ELEMENT ListaDados (Dados*) >
<!ELEMENT Dados (IdContaFatura?)>
<!ELEMENT IdContaFatura (#PCDATA) >