xmlmanager/src/main/resources/data/input/dtd.patricia.v0/07-VendaBandaLargaMovel/ListaRetorno.dtd

<!ELEMENT SiebelMessage (ListaRetorno?) >
<!ATTLIST SiebelMessage MessageId 		CDATA #IMPLIED>
<!ATTLIST SiebelMessage MessageType 	CDATA #IMPLIED>
<!ATTLIST SiebelMessage IntObjectName 	CDATA #IMPLIED>
<!ELEMENT ListaRetorno (Retorno+) >
<!ELEMENT Retorno (Codigo?, Mensagem?, ListaDadosDados?)>
<!ELEMENT ListaDadosDados (Dados*) >
<!ELEMENT Dados (NumeroOS?)>
<!ELEMENT NumeroOS	(#PCDATA) >
<!ELEMENT Codigo 	(#PCDATA) >
<!ELEMENT Mensagem	(#PCDATA) >
